.header {
  width: 98.5%;
  height: 60px;
  background-color: bisque;
  border: 3px solid #A8C73A;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  position: fixed; }

.header__navegador {
  display: flex;
  height: 40px;
  justify-items: center;
  align-items: center;
  padding: 0.5rem; }

.header__lista {
  list-style: none;
  text-decoration: double;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: grey 1px 1px 4px;
  gap: 5rem; }

.header__logo {
  height: 55px;
  align-items: center;
  display: flex; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 800px;
  grid-template-areas: "tit tit" "tex img"; }
  .main .main__titulo {
    text-align: center;
    margin: 4rem;
    padding: 6rem;
    grid-area: tit; }
  .main .main__presentacion {
    overflow: hidden;
    grid-area: img; }
  .main .main__imagen {
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px; }
  .main .foto {
    border-radius: 5px; }
  .main .main__subtitulo {
    font-size: 35px;
    font-style: italic;
    color: #156D3F;
    text-align: center; }
  .main .main__parrafo {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin: 4rem;
    line-height: 2.8rem;
    text-align: center;
    overflow: hidden;
    grid-area: tex;
    background-color: #ffe5c4c8;
    border-radius: 5px; }

.footer .footer__insta {
  transition: all 1s; }

.footer .footer__insta:hover {
  transform: 50px;
  width: 50px;
  height: 50px; }

.footer .footer__wsp {
  transition: all 1s; }

.footer .footer__wsp:hover {
  transform: 50px;
  width: 50px;
  height: 50px; }

.footer .footer__ubi {
  transition: all 1s; }

.footer .footer__ubi:hover {
  transform: 50px;
  width: 50px;
  height: 50px; }

.nosotros {
  margin: 1rem;
  padding: 3rem;
  width: 91%;
  display: inline-block; }
  .nosotros .nosotros__titulo {
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 5rem;
    text-align: center; }
  .nosotros .nosotros__descripcion {
    display: inline-block;
    width: 100%;
    height: 800px;
    margin: 3rem;
    padding: 1rem;
    background-color: bisque;
    overflow: hidden;
    border-radius: 20px; }
  .nosotros .nosotros__parrafo {
    width: 40%;
    height: 700px;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    text-align: center;
    font-family: 'Dancing Script',cursive;
    font-size: 25px;
    line-height: 2rem;
    overflow: hidden; }
  .nosotros .nosotros__subtitulo {
    margin: 6rem;
    font-size: 35px;
    font-style: italic;
    color: #156D3F; }
  .nosotros .nosotros__imagen {
    width: 48%;
    height: 700px;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    overflow: hidden; }
  .nosotros .nosotros__foto {
    background-position: center;
    border-radius: 20px; }

.np {
  display: inline-block;
  width: 100%; }
  .np .np__titulo {
    height: 80px;
    margin: 5rem;
    padding: 5rem;
    text-align: center; }
  .np .np__desayunos {
    margin: 4rem;
    background-color: bisque;
    border-radius: 10px; }
  .np .np__nuestrosdesayunos {
    color: rgba(0, 0, 0, 0.862);
    text-align: end;
    font-size: 25px;
    font-style: italic;
    text-shadow: black 1px 1px 4px;
    margin: 1rem; }
  .np .np__imgdesayuno {
    margin: 1rem;
    padding: 3px;
    border-radius: 20px; }
  .np .np__waffles {
    margin: 4rem;
    background-color: bisque;
    border-radius: 10px; }
  .np .np__nuestroswaffles {
    color: rgba(0, 0, 0, 0.862);
    text-align: start;
    font-size: 25px;
    font-style: italic;
    text-shadow: black 1px 1px 4px;
    margin: 1rem; }
  .np .np__imgwaffles {
    margin: 1rem;
    padding: 0.6rem;
    border-radius: 20px; }
  .np .np__bombones-budines {
    margin: 4rem;
    border-radius: 10px; }
  .np .np__bombones {
    display: inline-block;
    border-radius: 10px;
    background-color: bisque;
    margin: 2rem;
    padding: 2.5rem; }
  .np .np__nuestrosbombones {
    color: rgba(0, 0, 0, 0.862);
    text-align: center;
    font-size: 25px;
    font-style: italic;
    text-shadow: black 1px 1px 4px;
    margin: 0rem; }
  .np .np__imgbombones {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px; }
  .np .np__budines {
    display: inline-block;
    border-radius: 10px;
    background-color: bisque;
    margin: 2rem;
    padding: 2.5rem; }
  .np .np__nuestrosbudines {
    color: rgba(0, 0, 0, 0.862);
    text-align: center;
    font-size: 25px;
    font-style: italic;
    text-shadow: black 1px 1px 4px;
    margin: 0rem; }
  .np .np__imgbudines {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px; }

.tiendas {
  display: inline-block;
  width: 100%; }
  .tiendas .tiendas__titulo {
    height: 40px;
    margin: 6rem;
    padding: 5rem;
    text-align: center; }
  .tiendas .tiendas__subtitulo {
    height: 3px;
    margin: 2rem;
    padding: 4rem;
    color: rgba(0, 0, 0, 0.862);
    text-align: center;
    font-size: 35px;
    font-style: italic;
    text-shadow: black 1px 1px 4px;
    overflow: hidden; }
  .tiendas .tiendas__cont {
    display: inline-block;
    margin: 4rem;
    height: 600px; }
  .tiendas .tiendas__tabla {
    display: inline-block;
    margin: 3rem;
    width: 35%;
    height: 550px;
    margin: 3rem;
    padding: 2rem;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    background-color: bisque;
    overflow: hidden;
    border-radius: 20px; }
  .tiendas .tiendas__img {
    display: inline-block;
    width: 45%;
    height: 550px;
    overflow: hidden;
    margin: 0rem;
    padding: 3rem;
    border-radius: 20px; }
  .tiendas .tiendas__foto {
    border-radius: 20px;
    margin: 0rem;
    padding: 0; }

.title-Template, .main .main__titulo, .nosotros .nosotros__titulo, .np .np__titulo, .tiendas .tiendas__titulo {
  color: rgba(0, 0, 0, 0.862);
  font-size: 35px;
  font-style: italic;
  text-shadow: black 1px 1px 4px; }
